<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="150" width="150"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "dh1e.weapon.weaponType"}}</th>
                <th>{{localize "dh1e.weapon.damage"}}</th>
                <th>{{localize "dh1e.weapon.range"}}</th>
                <th>{{localize "dh1e.weapon.penetration"}}</th>
                <th>{{localize "dh1e.weapon.reload"}}</th>
                <th>{{localize "dh1e.weapon.rof"}}</th>
                <th>{{localize "dh1e.weapon.clip"}}</th>
                <th>{{localize "dh1e.itemBase.weight"}}</th>
                <th>{{localize "dh1e.itemBase.cost"}}</th>
                <th>{{localize "dh1e.itemBase.availability"}}</th>
                <th>{{localize "dh1e.itemBase.description"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.weaponType">
                        {{#select data.weaponType}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Text" />
                </td>
                <td>
                    <input name="data.penetration" type="text" value="{{data.penetration}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </div>
</form>
